body {
  margin: 0;
  padding: 0;
  background-color: #fcf650;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 3em;
  margin: 5px 0;
  color: #0848af;
}

.choices {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  color: #2a2a2b;
}

.choices i {
  margin-bottom: 8px;
}

.display {
  font-size: 1.8em;
  font-weight: 700;
  color: #2a2a2b;
}

button {
  border: none;
  outline: none;
  background-color: #fcf650;
  margin-left: 12px;
  padding: 5px 16px;
}

#btnRock:hover, #btnPaper:hover, #btnScissors:hover{
  color: Dodgerblue;
  cursor: pointer;
}

#btnPlay, #btnInput {
  margin-left: 10px;
  border: 2px solid #00630a;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
}

#btnPlay:hover {
  background-color: #f25221;
  font-weight: 700;
  cursor: pointer;
}

#btnInput:hover {
  background-color: yellow;
  font-weight: 700;
  cursor: pointer;
}

.winLose {
  font-size: 40px;
  text-align: center;
  color: red;
  font-weight: 800;
}
